
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<div class="banner" bis_skin_checked="1">
    <h1>Thông Tin</h1>
</div>

<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <h3 class="title-center">Câu Chuyện Thương Hiệu</h3>
        <p>
          Tên gọi Gong Cha xuất phát từ ý nghĩa trong tiếng Hoa là Trà cung
          đình. Thời xưa, các loại trà tốt nhất thường được các vị hoàng thân
          quý tộc ngự dùng. Ngày nay, Gong Cha mong muốn phục vụ các loại trà
          tốt nhất cho thực khách, cũng như chính tên gọi của thương hiệu. Kể từ
          khi được thành lập vào năm 2006 tại Đài Loan, chuỗi cửa hàng Gong Cha
          đã mở rộng trên khắp 19 quốc gia với 1.500 cửa hàng và con số này vẫn
          tiếp tục tăng trưởng không ngừng. Qua nhiều năm nỗ lực phát triển,
          Gong Cha đã trở nên phổ biến với khách hàng từ nhiều quốc gia và trở
          thành một trong những thương hiệu trà đáng tin cậy hàng đầu trên thế
          giới.
        </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <img style="width: 100%" src="~/Content/images/pl-1.png" alt="" />
      </div>
    </div>
    <div class="row" style="margin: 30px">
      <h3 class="title-center" style="padding-top: 100px; padding-bottom: 50px">
        GIÁ TRỊ CỐT LÕI
      </h3>
      <div class="col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="box-icon">
          <img src="~/Content/images/icon1.png" alt="" />
        </div>
        <h4 class="title-center">1.Chất Lượng Hàng Đầu</h4>
        <p>
          An toàn, vệ sinh và ngon miệng. Việc sử dụng các nguyên liệu an toàn,
          tự nhiên và vệ sinh là ưu tiên hàng đầu của Gong Cha. Hương vị tuyệt
          hảo của các món thức uống là mục đích quan trọng tiếp theo mà chúng
          tôi muốn hướng đến.
        </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="box-icon">
          <img src="~/Content/images/icon2.png" alt="" />
        </div>
        <h4 class="title-center">2.Dịch Vụ Thân Thiện & Chuyên Nghiệp</h4>
        <p>
          Gong Cha mong muốn làm hài lòng khách hàng tốt nhất với tác phong phục
          vụ chuyên nghiệp và thân thiện, luôn lắng nghe những đóng góp của
          khách hàng.
        </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="box-icon">
          <img src="~/Content/images/icon3.png" alt="" />
        </div>
        <h4 class="title-center">3.Thương Hiệu Đáng Tin Cậy</h4>
        <p>
          Dựa trên hai nền tảng cốt lõi là Chất Lượng và Dịch Vụ, Gong Cha luôn
          nỗ lực xây dựng và duy trì hình ảnh thương hiệu đáng tin cậy trong mắt
          khách hàng.
        </p>
      </div>
    </div>
  </div>
</div>

