@using WebAdmin.Models;
@model IEnumerable<Product>
@{
    ViewBag.Title = "AllPr";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}


@{  
    IEnumerable<Product> listProduct = ViewBag.ListProduct as IEnumerable<Product>;
}

<div class="banner" bis_skin_checked="1">
    <h1>Sản Phẩm</h1>
</div>

<div class="container">
    @Html.Action("MenuPartial", "Product")
    @Html.Partial("~/Views/Product/ProductStyle1Partial.cshtml")
</div>