@using WebAdmin.Models;
@model IEnumerable<Product>


<div class="container">
    <div class="row">
        @if (Model != null)
        {

            foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-4">
                    <div class="card border">
                        <img src="@Url.Content("~/Content/images/" + @item.Image)"
                             class="card-img-top"
                             alt="Hình 1" />
                        <a href="/ShoppingCart/AddToCart/@item.ID">
                            <div class="add-to-cart">
                                <div class="cap">Add to cart</div>
                            </div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5>@item.Name</h5>
                        <p class="card-text">@item.Price.000<sup>đ</sup></p>
                    </div>
                </div>
            }
        }
        else
        {
            <p>Empty</p>
        }
    </div>
</div>
