
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}
<div class="banner" bis_skin_checked="1">
    <h1>Liên Hệ</h1>
</div>
<!-- main -->
<div class="main">
    <div class="container" style="padding: 30px 0px">
        <div class="row">
            <div class="col-lg-9 col-md-3 col-sm-6 col-12">
                <div class="address">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1963.6453537931886!2d106.6879545134575!3d10.827144539358354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528f0b99ce875%3A0x1f806d9b226a083!2zVmluY29tIFBsYXphIEfDsiBW4bqlcA!5e0!3m2!1svi!2s!4v1692580181058!5m2!1svi!2s"
                            width="100%"
                            height="600"
                            style="border: 0"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="home-icon margin-icon" style="margin-top: 50px">
                    <div class="img-icon">
                        <img src="~/Content/images/home.svg" alt="" />
                    </div>
                    <div class="media-body">
                        <h5>ĐỊA CHỈ</h5>
                        <p>57/1A, đường 42, Hiệp Bình Chánh, Thủ đức</p>
                    </div>
                </div>

                <div class="home-icon margin-icon">
                    <div class="img-icon">
                        <img src="~/Content/images/phone.svg" alt="" />
                    </div>
                    <div class="media-body">
                        <h5>SỐ ĐIỆN THOẠI</h5>
                        <p>0931615325</p>
                    </div>
                </div>

                <div class="home-icon margin-icon">
                    <div class="img-icon">
                        <img src="~/Content/images/mail.svg" alt="" />
                    </div>
                    <div class="media-body">
                        <h5>GMAIL</h5>
                        <p>chihtl04@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

